<div class="panel-body">
  <div class="form">
    <div class="professional-form">
      <div id="professional-form-fields">
        <div class="col-xs-12 col-md-5">
          <div class="pull-right">
            <div class="contacts-dropdown"></div>
            <%= f.hidden_field :contact_id, multiple: true, value: "" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="field">
            <%= f.text_area :content, multiple: true, placeholder: "Something professional...", rows: 4, class: "update-field" %>
            <%= f.hidden_field :category, multiple: true, value: "professional" %>
            <%= f.label :photo, multiple: true, value: "Have a picture?" %>
            <%= f.file_field :photo, multiple: true %>
            or
            <%= f.label :remote_photo_url, multiple: true, value: "picture url:" %>
            <%= f.url_field :remote_photo_url, multiple: true, placeholder: "http://...", pattern: "https?://.+" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
