<!DOCTYPE html>
<html>
<head>
  <title>Standup</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <% if flash[:notice] %>
      <div class="alert alert-dismissable alert-success text-center">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Nice!</strong> <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-dismissable alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oh snap!</strong> <%= alert %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
